body {
    overflow: auto;
}

/*GRILLE*/
ul {
    padding: 0px;
}

li {
  text-align: right;
  margin-left: auto; /* Applique une marge automatique à gauche */
  margin-right: 0; 
  margin-top: 20px;
}

.infos {
  list-style-type: none;
  padding: 0px;
  }

.grilleInfos {
  display: grid;
  grid-template-columns: 120px 1fr 1fr ;
  grid-template-rows: auto ;
  grid-gap: 20px;
  z-index: 2;
  margin-bottom: 30px;
  }

.intro {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  margin-top: 40px;
  text-align: left;
}

.une {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.deux {
  grid-column: 2;
  grid-row: 2;

}

.trois {
  grid-column: 3;
  grid-row: 2;
}

.quatre {
  grid-column: 2;
  grid-row: 3;
}

.cinq {
  grid-column: 3;
  grid-row: 3;
}

.six {
  grid-column: 2;
  grid-row: 4;
}

.sept {
  grid-column: 3;
  grid-row: 4;
}

.box img {
  width: 100%;
  height: auto;
}

  /*TYPOTHEQUE*/

.titre {
  margin: 0;
}

.texte-vertical {
  padding: 0;
  margin-top: 50px;
  }

.infos p {
  padding: 0;
  margin: 0;
  }
  
.infos .titre {
  margin: 0;
  margin-top: 1em;
  }

.infos .sous-titre {
  text-align: right;
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
  }

.titre-projet {
  text-align: left;
  }
    
/*BOUTON*/
.bouton2-portfolio {
  display: inline;
}

.bouton2 {
  margin-top: 50px;
  text-align: left;
}

@media screen and (max-width: 996px) {

  .grilleInfos{
    grid-template-columns: 1fr;
  }
  .box {
    grid-column: 0;
}

  .une {
    display: none;
  }
  .intro {
    grid-column: 1;
    grid-row: 1;
  }

.deux {
  grid-column: 1;
  grid-row: 3;

}
.trois {
  grid-column: 1;
  grid-row: 2;
}

.quatre {
  grid-column: 1;
  grid-row: 7;
}

.cinq {
  grid-column: 1;
  grid-row: 4;
}

.six {
  grid-column: 1;
  grid-row: 5;
}

.sept {
  grid-column: 1;
  grid-row: 6;
}

.bouton2-portfolio {
font-size: 5em;
}

.bouton2 a {
  text-align: left;
  margin-left: 0px;
}

}